/* Error: Undefined variable.
 *    ,
 * 82 |   @if map.has-key($breakpoints, $breakpoint) {
 *    |                   ^^^^^^^^^^^^
 *    '
 *   styles/abstracts/_mixins.scss 82:19             breakpoint-down()
 *   styles/components/input/_text-field.scss 141:4  @forward
 *   styles/components/_index.scss 8:1               @use
 *   styles/main.scss 20:1                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 82 \2502    @if map.has-key($breakpoints, $breakpoint) {\a    \2502                    ^^^^^^^^^^^^\a    \2575 \a   styles/abstracts/_mixins.scss 82:19             breakpoint-down()\a   styles/components/input/_text-field.scss 141:4  @forward\a   styles/components/_index.scss 8:1               @use\a   styles/main.scss 20:1                           root stylesheet";
}
