<mat-toolbar color="primary" class="demo-header">
  <button *ngIf="isMobile" mat-icon-button class="menu-button" (click)="onMenuToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <div class="logo">
    <mat-icon>layers</mat-icon>
    <span [class.mobile-title]="isMobile">SkillVo UI</span>
  </div>
  
  <div class="spacer"></div>
  
  <div class="theme-toggle" (click)="toggleTheme()">
    <mat-icon class="theme-icon light-icon">light_mode</mat-icon>
    <mat-icon class="theme-icon dark-icon">dark_mode</mat-icon>
  </div>
</mat-toolbar> 