<div class="sidenav-container" [class.collapsed]="collapsed" [class.mobile-open]="mobileOpen">
  <div class="sidenav-header">
    <button mat-icon-button class="toggle-button" (click)="toggleSidenav.emit()" *ngIf="!isMobile">
      <mat-icon>{{ collapsed ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
  </div>

  <div class="sidenav-list">
    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems">
        <a mat-list-item 
          [routerLink]="item.route" 
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: item.exact || false}"
          *ngIf="!item.children">
          <div class="menu-item">
            <mat-icon class="menu-icon">{{ getStandardIcon(item.icon) }}</mat-icon>
            <span class="menu-label" *ngIf="!collapsed">{{ item.label }}</span>
          </div>
        </a>

        <a mat-list-item 
          (click)="toggleExpanded(item, $event)"
          *ngIf="item.children && item.children.length > 0">
          <div class="menu-item">
            <mat-icon class="menu-icon">{{ getStandardIcon(item.icon) }}</mat-icon>
            <span class="menu-label" *ngIf="!collapsed">{{ item.label }}</span>
            <mat-icon class="expand-icon" *ngIf="!collapsed">
              {{ item.expanded ? 'expand_less' : 'expand_more' }}
            </mat-icon>
          </div>
        </a>

        <div class="submenu" *ngIf="item.children && item.children.length > 0 && item.expanded && !collapsed">
          <a mat-list-item 
            *ngFor="let child of item.children"
            [routerLink]="child.route"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: child.exact || false}">
            <div class="menu-item child-menu-item">
              <span class="menu-label">{{ child.label }}</span>
            </div>
          </a>
        </div>
      </ng-container>
    </mat-nav-list>
  </div>

  <!-- Footer with version - always at the bottom of sidenav -->
  <div class="sidenav-footer">
    <span class="version">{{ collapsed ? 'v1.0' : 'v1.0.0' }}</span>
  </div>
</div> 