<div class="sidenav-container" [class.collapsed]="collapsed">
  <div class="sidenav-header">
    <button mat-icon-button class="menu-button" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="sidenav-list">
    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems">
        <a mat-list-item 
          [routerLink]="item.route" 
          routerLinkActive="active-link"
          *ngIf="!item.children">
          <div class="menu-item" [class.centered]="collapsed">
            <mat-icon>{{ getStandardIcon(item.icon) }}</mat-icon>
            <span class="menu-label" *ngIf="!collapsed">{{ item.label }}</span>
          </div>
        </a>

        <a mat-list-item 
          (click)="toggleExpanded(item, $event)"
          *ngIf="item.children && item.children.length > 0">
          <div class="menu-item" [class.centered]="collapsed">
            <mat-icon>{{ getStandardIcon(item.icon) }}</mat-icon>
            <span class="menu-label" *ngIf="!collapsed">{{ item.label }}</span>
            <mat-icon class="expand-icon" *ngIf="!collapsed">
              {{ item.expanded ? 'expand_less' : 'expand_more' }}
            </mat-icon>
          </div>
        </a>

        <div class="submenu" *ngIf="item.children && item.children.length > 0 && item.expanded && !collapsed">
          <a mat-list-item 
            *ngFor="let child of item.children"
            [routerLink]="child.route"
            routerLinkActive="active-link">
            <div class="menu-item child-menu-item">
              <span class="menu-label">{{ child.label }}</span>
            </div>
          </a>
        </div>
      </ng-container>
    </mat-nav-list>
  </div>

  <div class="sidenav-footer" *ngIf="!collapsed">
    <span class="version">v1.0.0</span>
  </div>
</div> 