<div class="app-switcher-container" *ngIf="isOpen">
  <!-- App Switcher Menu -->
  <div class="app-menu" #appSwitcherMenu>
    <div class="app-switcher-grid">
      <div *ngFor="let app of apps" 
           class="app-item" 
           (click)="navigateTo(app)">
        <div class="app-icon">
          <div class="icon-container">
            <img *ngIf="app.icon" [src]="app.icon" [alt]="app.name + ' icon'" />
            <span *ngIf="!app.icon">{{app.name.charAt(0)}}</span>
          </div>
        </div>
        <span class="app-label">{{app.name}}</span>
      </div>
    </div>
  </div>
</div> 